<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249506090961-kgh7fccocimenioh5kvnvr142jdk4k25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249506090961-kgh7fccocimenioh5kvnvr142jdk4k25</string>
	<key>API_KEY</key>
	<string>AIzaSyCCkU7h0GpmEIlXH46YcLogtPu0ZshGsws</string>
	<key>GCM_SENDER_ID</key>
	<string>249506090961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nowmeetfrontend</string>
	<key>PROJECT_ID</key>
	<string>now-meet-335a2</string>
	<key>STORAGE_BUCKET</key>
	<string>now-meet-335a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249506090961:ios:fd50f716605d70b34e9af0</string>
</dict>
</plist>