<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740602482619-ch22tgeqdqdgevgcir432s1buuvse62i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740602482619-ch22tgeqdqdgevgcir432s1buuvse62i</string>
	<key>API_KEY</key>
	<string>AIzaSyBFNtAxiLrtCR9_ne85q3KPQIYNs0Z7Ylw</string>
	<key>GCM_SENDER_ID</key>
	<string>740602482619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mproject</string>
	<key>PROJECT_ID</key>
	<string>liveapp-ee4fe</string>
	<key>STORAGE_BUCKET</key>
	<string>liveapp-ee4fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740602482619:ios:404d4402c5b954507efe9e</string>
</dict>
</plist>